imports:
    - { resource: "@CoreBundle/Resources/config/services_core_managers.yml" }
    - { resource: "@CoreBundle/Resources/config/services_core_controllers.yml" }

parameters:
    core.user_action_log_subscriber_service.class: CoreBundle\Doctrine\Subscriber\UserActionLogSubscriber

services:
    core.user_action_log_subscriber_service:
        class: '%core.user_action_log_subscriber_service.class%'
        arguments: [ '@service_container', '@doctrine' ]
        tags:
            - { name: doctrine.event_subscriber }