parameters:
    core.entity.agence.class: CoreBundle\Entity\Agence
    core.entityname.agence.class: 'CoreBundle:Agence'
    core.entity.utilisateur.class: CoreBundle\Entity\Utilisateur
    core.entityname.utilisateur.class: 'CoreBundle:Utilisateur'
    core.entity.fonction.class: CoreBundle\Entity\Fonction
    core.entityname.fonction.class: 'CoreBundle:Fonction'
    core.entity.service.class: CoreBundle\Entity\Service
    core.entityname.service.class: 'CoreBundle:Service'
    core.entity.candidat.class: CoreBundle\Entity\Candidat
    core.entityname.candidat.class: 'CoreBundle:Candidat'

    core.abstract_manager.class: CoreBundle\Services\Manager\AbstractManager
    core.agence_manager.class: CoreBundle\Services\Manager\AgenceManager
    core.service_manager.class: CoreBundle\Services\Manager\ServiceManager
    core.utilisateur_manager.class: CoreBundle\Services\Manager\UtilisateurManager
    core.fonction_manager.class: CoreBundle\Services\Manager\FonctionManager
    core.candidat_manager.class: CoreBundle\Services\Manager\CandidatManager

    core.controller_service.class: CoreBundle\Services\ControllerService
    core.zendesk_service.class: CoreBundle\Services\ZendeskService

services:
    core.abstract_manager:
        class: %core.agence_manager.class%
        abstract: true
        arguments: ['@doctrine.orm.entity_manager']

    core.agence_manager:
        class: %core.agence_manager.class%
        parent: core.abstract_manager
        calls:
        - [setEntity, ["%core.entity.agence.class%"]]
        - [setEntityName, ["%core.entityname.agence.class%"]]
    core.utilisateur_manager:
        class: %core.utilisateur_manager.class%
        parent: core.abstract_manager
        calls:
        - [setEntity, ["%core.entity.utilisateur.class%"]]
        - [setEntityName, ["%core.entityname.utilisateur.class%"]]
    core.fonction_manager:
        class: %core.fonction_manager.class%
        parent: core.abstract_manager
        calls:
        - [setEntity, ["%core.entity.fonction.class%"]]
        - [setEntityName, ["%core.entityname.fonction.class%"]]
    core.service_manager:
        class: %core.service_manager.class%
        parent: core.abstract_manager
        calls:
        - [setEntity, ["%core.entity.service.class%"]]
        - [setEntityName, ["%core.entityname.service.class%"]]
    core.candidat_manager:
        class: %core.candidat_manager.class%
        parent: core.abstract_manager
        calls:
        - [setEntity, ["%core.entity.candidat.class%"]]
        - [setEntityName, ["%core.entityname.candidat.class%"]]

    core.controller_service:
        class: %core.controller_service.class%
        calls:
        - [ setContainer , [ "@service_container" ]]

    core.zendesk_service:
        class: %core.zendesk_service.class%
        calls:
        - [ setContainer , [ "@service_container" ]]