.admin_cat_title {
    font-size: large;
    font-weight: 700;
    padding-bottom: 2%;
    color: rgba(56, 128, 170, 0.93);
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_title {
    font-size: medium;
    text-align: center;
    color: rgba(56, 128, 170, 0.93);
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_cell {
    font-size: medium;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}
.font_exo_2 {
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_cell_action {
    font-size: larger;
    text-align: center;
}
.main_container {
    margin-top: 1%;
}
.align_right {
    text-align: right;
}
.align_right_marge {
    text-align: right;
    padding-right: 5%;
}
.align_left {
    text-align: left;
}
.float_right {
    text-align:right;
    display: inline;
}
.corp-message-1 {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.corp-message-2 {
    margin-top: 20px;
    margin-left: 15px;
}
.corp-message-3 {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}
.small {
    width: 20%;
    height: 20%;
}
.background_white{
    background-color: #FFFFFF;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 30%;
    margin-left: 35%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.input-box {
    position: relative;
}
.unit {
    position: absolute;
    display: block;
    right: 5px;
    top: 5px;
    z-index: 9;
}
.actionPart {
    margin-top: 20%;
}
.actionPartInput {
    width: 30%;
}
.marginNegABitABitLeft {
    margin-left: -1%;
}
.marginNegABitLeft {
    margin-left: -13%;
}
.otherNumButton {
    margin-top: 1.6% !important;
    margin-left: 3% !important;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.marginABitABitLeft {
    margin-left: 1%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.paddingViaFile {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.mini_logo_image_size {
    width: 15%;
    margin-left: -5%;
    margin-right: 2%;
}
.mini_logo_imag {
    margin-left: -5%;
    margin-right: 2%;
}
.actionPartFonction {
    margin-top: 3%;
}
.paddingRight10pc {
    padding-right: 10%;
}
.todofilter{
    border: rgba(247, 17, 8, 0.33)
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute !important;
    bottom: 8px!important;
    right: 8px!important;
    display: block!important;
    font-family: '' !important;
    opacity: 0.5!important;
}
table.dataTable thead .sorting:after {
    opacity: 0.2!important;
    content: ""!important;
}
table.dataTable thead .sorting_asc:after {
    content: ""!important;
}
table.dataTable thead .sorting_desc:after {
    content: ""!important;
}
.dataTables_filter {
    float: right!important;
}
.bs-example-modal-lg {
    width: 110%;
}
table.display tbody tr:hover td {
    background-color: rgb(62, 142, 189) !important;
    color: #FFFFFF !important;
}
th {
    border-color: rgba(56, 128, 170, 0.93) !important;
}
table.display {
    border-color: rgba(56, 128, 170, 0.93)   !important;
}
table.display tbody td {
    border-top-color: rgba(51, 127, 184, 0.29) !important;
}
.dashboard_todo {
    height: 378px;
}
.dashboard_calendar {
    height: 798px;
}
.dashboard_lastest_user {
    height: 400px;
}
.dashboard_lastest_user_box_body {
    height: 310px;
}
.dashboard_todo-list_box_body {
    height: 280px;
}
.history {
    height: 730px;
    width: 390px;
    overflow-y: auto;
}
.history_main_panel {
    width: 360px !important;
    margin-bottom: 3px !important;
    padding-bottom: 0px !important;
}
.history_heading_panel {
    float: left !important;
}
.history_title_panel {
    padding-bottom: 0px !important;
}
.history_span_date {
    font-size: smaller !important;
}
.history_panel_body {
    padding: 0px !important;
    padding-top: 4px !important;
}
.history_span_field {
    margin-top: 10px !important;
    margin-left: 8px !important;
    margin-bottom: 10px !important;
}
.history_p_string {
    font-size: smaller !important;
    margin-top: 2px !important;
}
.alert-danger-2 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(250, 172, 38, 0.85);
    border: 1px solid;

    border-radius: 10px;
    width: 340px;
    text-align: center;
}