{% if panel == 'admin' %}
    <div class="disabled" data-href="#" xmlns="http://www.w3.org/1999/html">
        {% if entity != '' and entity != 'salesforce_profile' and entity != 'salesforce_groupe' and entity != 'salesforce_territory' and entity != 'active_directory_group' and entity != 'active_directory_organisation_unit' and entity != 'google_group' %}
            <button type="button" class="btn btn-primary btn-success pull-right font_exo_2 marginABitABitLeft" data-toggle="modal" data-target="#modalAdd" id="addForm">
                <i class="fa fa-plus"></i> Nouveau
            </button>
        {% endif %}
        {% if entity == 'odigo_tel_liste' or entity == 'orange_tel_liste' %}
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 marginABitABitLeft" data-toggle="modal" data-target="#modalAddViaFile" id="addForm">
                <i class="fa fa-plus"></i> Importer fichier</button>
        {% endif %}
        {% if entity == 'salesforce_profile' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadSfProfiles" onclick="reloadProfilesFromSf();">
                <i class="fa fa-plus"></i> Reload From Sf</button>
        {% endif %}
        {% if entity == 'salesforce_groupe' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadSfGroupes" onclick="reloadGroupesFromSf();">
                <i class="fa fa-plus"></i> Reload From Sf</button>
        {% endif %}
        {% if entity == 'salesforce_territory' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadSfTerritories" onclick="reloadTerritoriesFromSf();">
                <i class="fa fa-plus"></i> Reload From Sf</button>
        {% endif %}
        {% if entity == 'active_directory_group' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadADGroup" onclick="reloadGroupFromAd();">
                <i class="fa fa-plus"></i> Reload From Ad</button>
        {% endif %}
        {% if entity == 'active_directory_organisation_unit' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadADGroup" onclick="reloadOrganisationUnitFromAd();">
                <i class="fa fa-plus"></i> Reload From Ad</button>
        {% endif %}
        {% if entity == 'google_group' %}
            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="btn btn-primary btn-info pull-right font_exo_2 show" id="reloadADGroup" onclick="reloadGroupFromGoogle();">
                <i class="fa fa-plus"></i> Reload From Gmail</button>
        {% endif %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        {% if entity == 'candidat' %}
            <button type="button" class="btn btn-info pull-right font_exo_2 hide marginABitABitLeft" id="waiting_transform"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="submit_transform btn btn-info pull-right font_exo_2 marginABitABitLeft" id="transform" onclick="executeBatchTransform();">
                <i class="fa fa-plus"></i> Transform</button>

            <button type="button" class="btn btn-warning pull-right font_exo_2 hide marginABitABitLeft" id="waiting_archive"><span class="glyphicon glyphicon-refresh spinning"></span> Loading... Plz Wait</button>
            <button type="button" class="submit_transform btn btn-warning pull-right font_exo_2 marginABitABitLeft" id="archive" onclick="executeBatchArchive();">
                <i class="fa fa-plus"></i> Archive</button>
        {% endif %}
    {% endif %}
        {% if entity != ''  %}
        <div class="col-sm-2 pull-right">
            <div class="input-group ">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" name="q" id="global_filter" class="font_exo_2 form-control" placeholder="Rechercher...">
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}