<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nouveau Candidat transformé en Utilisateur</title>
</head>
<body>
<p>
    Bonjour,
</p>
<p>
    Nous avons le plaisir de vous informer que le candidat {{ templateInfos.surname }}  {{ templateInfos.name }} vient d'être transformé en Utilisateur.
</p>
<p>
    Les codes d'accès aux applications seront envoyés très prochainement.
</p>
{% if templateInfos.matriculeRH == '' %}
<p style="color:#a94442">
    Attention le candidat a été transformé SANS matricule RH.
</p>
{% endif %}
<p>
    L'équipe Support.
</p>
</body>

</html>