<div class="box box-primary dashboard_todo">
    <div class="box-header">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title font_exo_2">Actions à Mener</h3>
    </div>
    <div class="box-body">
        <ul class="todo-list">
            {% for event in todoListEvents %}
                <li>
                    <input type="checkbox" value="">
                    <span class="text">{{ event.name }}</span>
                    <small class="label {{ event.color }}"><i class="fa fa-clock-o"></i> {{ event.delais }} jours</small>
                    <div class="tools">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="box-footer clearfix no-border pull-right">
            <ul class="pagination pagination-sm inline" style="margin-top:2px;height: 10px">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
    </div>
</div>