.admin_cat_title {
    font-size: large;
    font-weight: 700;
    padding-bottom: 2%;
    color: rgba(53, 123, 184, 0.93);
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_title {
    font-size: medium;
    text-align: center;
    color: rgba(53, 123, 184, 0.93);
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_cell {
    font-size: medium;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}
.font_exo_2 {
    font-family: 'Exo 2', sans-serif;
}
.admin_cat_table_cell_action {
    font-size: larger;
    text-align: center;
}
.main_container {
    margin-top: 1%;
}
.align_right {
    text-align: right;
}
.align_right_marge {
    text-align: right;
    padding-right: 5%;
}
.align_left {
    text-align: left;
}
.float_right {
    text-align:right;
    display: inline;
}
.corp-message-1 {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.corp-message-2 {
    margin-top: 20px;
    margin-left: 15px;
}
.corp-message-3 {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}
.small
{
    width: 20%;
    height: 20%;
}
.background_white{
    background-color: #FFFFFF;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 30%;
    margin-left: 35%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.input-box {
    position: relative;
}
.unit {
    position: absolute;
    display: block;
    right: 5px;
    top: 5px;
    z-index: 9;
}
.actionPart {
    margin-top: 20%;
}
.actionPartInput {
    width: 30%;
}
.marginNegABitABitLeft {
    margin-left: -1%;
}
.marginNegABitLeft {
    margin-left: -13%;
}
.otherNumButton {
    margin-top: 1.6% !important;
    margin-left: 3% !important;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.marginABitABitLeft {
    margin-left: 1%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.paddingViaFile {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}
.mini_logo_image_size {
    width: 15%;
    margin-left: -5%;
    margin-right: 2%;
}
.mini_logo_imag {
    margin-left: -5%;
    margin-right: 2%;
}
.actionPartFonction {
    margin-top: 3%;
}