.admin_cat_title {
    font-size: large;
    font-weight: 700;
    padding-bottom: 2%;
}
.admin_cat_table_title {
    font-size: medium;
    text-align: center;
    color: rgba(53, 123, 184, 0.93);
}
.admin_cat_table_cell {
    font-size: medium;
    text-align: center;
}
.admin_cat_table_cell_action {
    font-size: larger;
    text-align: center;
}
.main_container {
    margin-top: 1%;
}
.align_right {
    text-align: right;
}
.align_left {
    text-align: left;
}
.corp-message-1 {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.corp-message-2 {
    margin-top: 20px;
    margin-left: 15px;
}
.corp-message-3 {
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}
.small
{
    width: 20%;
    height: 20%;
}