parameters:
    app.abstract_manager.class: AppBundle\Services\Manager\AbstractManager

    app.id_store.class: AppBundle\Store\IdStore

    app.user_creator.class: AppBundle\Security\User\UserCreator

    app.user_manager.class: AppBundle\Services\UserManager

    app.security.acces_service.class: AppBundle\Services\Security\AccesService

    app.parameters_calls.class: AppBundle\Services\Manager\ParametersManager

    app.mouv_history.class: AppBundle\Services\Manager\MouvHistoryManager
    app.entity.mouv_history.class: CoreBundle\Entity\Admin\Candidat
    app.entityname.mouv_history.class: 'CoreBundle\Entity\Admin\Candidat'
    app.argname.mouv_history.class: 'Le candidat'


services:
    app.id_store:
        class: %app.id_store.class%
        arguments:
            - "@=service('doctrine').getManager()"
            - "@lightsaml.system.time_provider"

    app.user_creator:
        class: %app.user_creator.class%
        arguments:
            - "@=service('doctrine').getManager()"
            - "@lightsaml_sp.username_mapper.simple"

    app.user_manager:
        class: %app.user_manager.class%
        arguments: ['@doctrine']

    app.security.acces_service:
        class: %app.security.acces_service.class%
        calls:
        - [ setContainer , [ "@service_container" ]]

    app.parameters_calls:
        class: %app.parameters_calls.class%
        arguments: ['@doctrine']

    app.abstract_manager:
        class: %app.abstract_manager.class%
        abstract: true
        arguments: ['@doctrine', '@session']

    app.mouv_history_manager:
        class: %app.mouv_history.class%
        parent: app.abstract_manager
        calls:
        - [setEntity, ["%app.entity.mouv_history.class%"]]
        - [setEntityName, ["%app.entityname.mouv_history.class%"]]
        - [setArgname, ["%app.argname.mouv_history.class%"]]