<div class="box box-primary dashboard_calendar">
    <div class="box-header with-border">
        <i class="fa fa-calendar"></i>
        <h3 class="box-title font_exo_2">Planning des Arrivées</h3>
        <div class="col-xs-1 pull-right marginABitABitLeft font_exo_2 text-center" style="font-size: 1em; background-color: #ff9900; color: #FFFFFF">Siège</div>
        <div class="col-xs-1 pull-right font_exo_2 text-center" style="background-color: #ff3300; color: #FFFFFF">Autres</div>
        <div class="pull-right box-tools">
        </div>
    </div>
    <div class="box-body no-padding">
        <div id="calendar"></div>
    </div>
</div>
