{% block title %} Accueil {% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <br><br><br><br><br><br>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" language="javascript">
        if (location.protocol != "https:") {
            document.write("OAuth will not work correctly from plain http. "+
                    "Please use an https URL.");
        } else {
            document.write("<a href=\"{{ path('salesforce_aouth') }}\">Click here to retrieve accounts from Salesforce via REST/OAuth.</a>");
        }
    </script>
{% endblock %}

