parameters:
    mailer.mailer_service.class: MailerBundle\Services\Mailer

services:
    mailer.mailer_service:
            class: '%mailer.mailer_service.class%'
            arguments: [ '@mailer', '@templating', '@core.utilisateur_manager', '@odigo.prosodie_odigo_manager', '@ad.active_directory_user_link_manager', '@aramis.aramis_user_link' ]